<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Mapcident</title>
    <link rel="icon" href="/assets/logo-mc.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/css/session.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io("http://localhost:3000");
        socket.on("connect", () => {
            console.log(socket.id);
        });
    </script>
    <script src="https://apis.mapmyindia.com/advancedmaps/v1/aa6ca1e6c399bc880ca03d0e1c03b197/map_load?v=2.1"></script>
</head>

<body>
    <div id="map"></div>
    <div id="startModal" class="modal">
        <div class="modal-content">
            <img src="https://cdn.discordapp.com/attachments/872743735388172318/929360957921185803/unknown.png">
            <h1>Starting Session</h1>
            <p>We'll keep tracking your location while you're travelling. In case we detect any collision/accident we require the following</p>
            <img id="perms" src="https://cdn.discordapp.com/attachments/872743735388172318/929365318650953778/unknown.png">
            <button class="begin-session" id="begin">Begin</button>
            <a href="/dashboard"><p id="gb">Go back</p></a>
        </div>
    </div>
    <div id="alertModal" class="modal" style="display: none;">
        <div class="modal-content">
            <img id="map-img" src="https://cdn.discordapp.com/attachments/872743735388172318/929388296369492058/unknown.png">
            <button class="dist">1.2km away</button>
            <h1>Alert near you!</h1>
            <p>We’ve detected an alert go off in an area near by your location! If you can responding to it</p>
            <button class="begin-session">Respond</button>
            <p id="skip">Skip</p>
        </div>
    </div>
    <div id="map-custom-stuff">
        <div class="top-bar">
            <button class="timer">
                00:48
            </button>
            <button class="end-button" id="end">
                END
            </button>
        </div>
        <div class="bottom-card" id="bottom-card">
            <h1>2.3km away</h1>
            <p style="margin-top: -4vw">Last updated 10s ago</p>
            <p>Accident confirmed nearby you, please reach the marked location and check on the passenger’s status. Authorities and helplines have already been contacted.</p>
            <button class="respond-button">Respond</button>
        </div>
    </div>
    <script src="/js/session.js"></script>
</body>

</html>